nav {
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.item {
    color: aliceblue;
    position: relative;
}

.item::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.5s;
}

.item:hover::after {
    background-color: rgb(164, 6, 255);
    box-shadow: 0px 2px 5px rgba(203, 25, 226, 0.5),
    1px 1px 5px rgb(115, 0, 247);
    border-radius: 5px;
}

.userBlock {
    margin-bottom: 5px;
}

.items {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0 4px;
    min-height: 50px;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid seashell;
    overflow: hidden;
    margin: 5px 0;
}

.buttonOut {
    flex: 1 1 100%;
}

.svg {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: all 0.5s;
}

.settingSvg {
    background-size: 80%;
}

.settings {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.settings:hover .svg {
    transform: translateY(-30px);
}

.settings:hover .settingSvg {
    transform: translateY(-30px) rotate(180deg);
}