.items {
    display: flex;
    flex-wrap: wrap
}

.item {
    background-color: rgb(12, 47, 61);
    color: aliceblue;
    width: 250px;
    margin: 2%;
    text-align: center;
    border: 5px solid aliceblue;
    border-radius: 10px;
    cursor: pointer;
}