.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: translateY 0.5s;
    transform: translateY(-101%);
}

.wrapperActive {
    opacity: 1;
    background-color: #464f5775;
    transform: translateY(0);
    transition: translateY 0.5s;
}

.popupAuth {
    width: 720px;
    margin: 0 auto;
    transform: translateY(-101%);
    transition: all 0.5s;
    background-color: black;
    padding: 15px;
    font-size: 18px;
    overflow: hidden;
}

.backgroundImage {

    z-index: -1;
    width: 100%;
    height: 100%;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    position: absolute;
}

.image1 {
    position: absolute;
    top: 0;
    background-image: url('../../assets/popupAuth/background-sky.png');
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.image2 {
    position: absolute;
    top: 0;
    background-image: url('../../assets/popupAuth/background-sky-1.png');
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scale(0.5);
}

.popupAuthActive {
    transform: translateY(28%);
    transition: all 0.5s;
}

.form {
    background-color: white;
    margin: 0 auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 370px;
}

.buttonBlock {
    margin-block-start: auto;
}

.button {
    display: block;
    padding: 10px 50px;
    margin: 18px auto;
    border: 2px solid;
}

.imegebutton:hover {
    border: 2px solid rgb(148 32 178);
    box-shadow: inset 2px 2px 5px rgba(140, 16, 156, 0.5),
        1px 1px 5px rgb(119, 12, 241);

}

.imegebutton:hover {
    box-shadow: inset 2px 2px 5px rgba(140, 16, 156, 0.5),
        1px 1px 5px rgb(119, 12, 241);
}

.button:hover {
    border: 2px solid rgb(148 32 178);
    box-shadow: inset 2px 2px 5px rgba(140, 16, 156, 0.5),
        1px 1px 5px rgb(119, 12, 241);
    color: rgb(148 32 178);
}

.buttonBotton:hover {
    filter: drop-shadow(2px 0px 5px rgba(140, 16, 156, 0.5));
    color: rgb(148 32 178);
}

.imegeBlock {
    display: flex;
    justify-content: space-between;

}

.formBlock {
    background-color: aliceblue;
    width: 350px;
    position: relative;
    margin: 15px 0;
    transition: all 0.5s ease-in-out;
}

.imegeText {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 50%;
    justify-content: center;
    gap: 15px;
}

.imegebutton {
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid;
    font-size: 20px;
    color: aliceblue;
}

.input {
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 2px;
    font-size: 20px;
}

label {
    color: #0e0e0eeb;
    font-size: 16px;
}

.input:focus,
.input:hover {
    border-bottom: 2px solid rgb(196 2 246);
}

.ReCAPTCHA {
    width: 304px;
    margin: 0 auto;
    filter: drop-shadow(1px 1px 5px rgba(143, 25, 158, 0.5));
}

.buttonBotton {
    color: #6d6d6d;
    display: block;
    margin: 0 auto;
}

@media (max-width: 790px) {
    .popupAuth {
        width: 320px;
        padding: 0;
    }

    .imegeText {
        display: none;
    }

    .formBlock {
        margin: 0;
    }
}