.button {
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.gameblock{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answersItem {
    width: 150px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    border: 2px solid aliceblue;
    cursor: pointer;
}

.answerList {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
ul {
    padding: 0;
}
.activeButton{
    background-color: #291f3f;
}
.rightAnswer{
    background-color: #1e4e1d;
}