.button {
    width: 50px;
    height: 50px;
    border: 2px solid aliceblue;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.buttonBlock{
    display: flex;
    gap: 30px;
}

.gameblock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answersItem {
    cursor: pointer;
    text-align: center;
    width: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid;
    font-size: 18px;
    color: aliceblue;
}

.answersItem:hover {
    border: 2px solid rgb(148 32 178);
    box-shadow: inset 2px 2px 5px rgba(140, 16, 156, 0.5),
        1px 1px 5px rgb(119, 12, 241);
}

.answerList {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 4%;
    justify-content: center;
}

ul {
    padding: 0;
}
.answersItem:hover {
    border: 2px solid rgb(148 32 178);
    box-shadow: inset 2px 2px 5px rgba(140, 16, 156, 0.5),
        1px 1px 5px rgb(119, 12, 241);
}
.activeButton, .activeButton:hover {
    border: 2px solid rgb(110, 110, 110); 
    box-shadow: inset 2px 2px 5px rgba(110, 110, 110, 0.5), 
                1px 1px 5px rgb(110, 110, 110); 
}

.rightAnswer, .rightAnswer:hover {
    border: 2px solid rgb(107, 223, 77);
    box-shadow: inset 2px 2px 5px rgba(107, 223, 77, 0.5),
                1px 1px 5px rgb(107, 223, 77);
}
